{% extends "base.html" %}

{% block content %}
<body>
    <div class="group/design-root relative flex size-full min-h-screen flex-col overflow-x-hidden bg-slate-50" style='font-family: "Work Sans", "Noto Sans", sans-serif;'>
        <div class="layout-container flex h-full grow flex-col">
            <div class="flex flex-1 justify-center px-4 sm:px-10 lg:px-40 py-5"> <!-- Ajuste para el padding responsivo -->
                <div class="layout-content-container flex w-full max-w-[960px] flex-1 flex-col">
                    <div class="@container">
                        <div class="sm:p-4">
                            <div class="sm:gap-8 sm:rounded-xl sm:px-10 flex flex-col items-start justify-end gap-6 bg-cover bg-center bg-no-repeat px-4 pb-10 min-h-[300px] sm:min-h-[480px]" style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://cdn.usegalileo.ai/sdxl10/f03a180c-8965-40b1-a047-a99b876b07fc.png");'>
                                <div class="flex flex-col gap-2 text-left">
                                    <h1 class="text-3xl font-black leading-tight tracking-[-0.033em] text-white sm:text-5xl">Renta Herramientas</h1>
                                    <h2 class="text-sm font-normal leading-normal text-white sm:text-base">Encuentra la herramienta perfecta para tu futuro proyecto</h2>
                                </div>

                                <!-- Formulario de búsqueda -->
                                <form method="GET" action="{% url 'arrendatario_home' %}">
                                    <label class="flex w-full sm:max-w-[480px]">
                                        <div class="flex w-full rounded-xl overflow-hidden">
                                            <div class="flex items-center justify-center bg-white pl-3 text-[#60708a]">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                                                    <path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path>
                                                </svg>
                                            </div>
                                            <input name="search" placeholder="Martillo.." class="form-input text-sm leading-normal text-[#111418] placeholder:text-[#60708a] w-full border border-r-0 px-2 focus:outline-none sm:text-base" />
                                            <button type="submit" class="bg-[#2071f3] text-white px-4 py-2 text-sm font-bold sm:text-base">Search</button>
                                        </div>
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Sección de herramientas sin categoría -->
                    <h2 class="px-4 pb-3 pt-5 text-[18px] font-bold text-[#111418] sm:text-[22px]">Todas las herramientas</h2>
                    <div class="grid grid-cols-2 gap-3 p-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
                        {% for tool in herramientas_sin_categoria|slice:":5" %}
                        <a href="{% url 'tool_detail' tool.id %}">
                            <div class="flex flex-col gap-3">
                                <div class="aspect-square w-full rounded-xl bg-cover bg-center" style='background-image: url("{% if tool.imagenes %}{{ tool.imagenes.url }}{% else %}https://cdn.usegalileo.ai/sdxl10/84ed65ba-6d8e-4158-b97a-6d36dabc415d.png{% endif %}");'></div>
                                <div>
                                    <p class="text-sm font-medium text-[#111418] sm:text-base">{{ tool.nombre }}</p>
                                    <p class="text-xs text-[#60708a] sm:text-sm">${{ tool.costo_dia }}/Dia</p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>

                    <!-- Sección de herramientas por categoría -->
                    {% for categoria, tools in herramientas_por_categoria.items %}
                    <h2 class="px-4 pb-3 pt-5 text-[18px] font-bold text-[#111418] sm:text-[22px]">{{ categoria }}</h2>
                    <div class="flex overflow-x-auto space-x-3 p-4">
                        {% for tool in tools|slice:":5" %}
                        <a href="{% url 'tool_detail' tool.id %}">
                            <div class="flex flex-col gap-3 w-[120px] sm:w-[150px]">
                                <div class="aspect-square w-full rounded-xl bg-cover bg-center" style='background-image: url("{% if tool.imagenes %}{{ tool.imagenes.url }}{% else %}https://cdn.usegalileo.ai/sdxl10/84ed65ba-6d8e-4158-b97a-6d36dabc415d.png{% endif %}");'></div>
                                <div>
                                    <p class="text-sm font-medium text-[#111418] sm:text-base">{{ tool.nombre }}</p>
                                    <p class="text-xs text-[#60708a] sm:text-sm">${{ tool.costo_dia }}/day</p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
