{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Work+Sans%3Awght%40400%3B500%3B700%3B900"
    />
    <title>Rent fast</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>

  <body>
  <!--Barra de busqueda-->
  <div class="flex justify-center items-center mt-4">
      <div class="relative w-full max-w-lg">
          <form method="GET" action="{% url 'arrendatario_home' %}" class="flex items-center">
              <label for="search-input" class="sr-only">Buscar herramientas</label>
              <div class="relative w-full">
                  <input 
                      type="search" 
                      id="search-input" 
                      name="search" 
                      placeholder="Buscar herramientas" 
                      class="block w-full h-12 pl-10 pr-12 text-sm text-[#121417] border border-[#E8EDF2] rounded-l-lg bg-[#FFFFFF] focus:outline-none focus:ring-2 focus:ring-[#1A80E5] focus:border-[#1A80E5]" 
                      value="{{ search_query }}" 
                      required 
                  />
                  <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                      <svg class="w-4 h-4 text-[#637887]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                      </svg>
                  </div>
                  <button type="submit" class="absolute right-0 top-0 h-full flex items-center px-4 rounded-r-lg bg-[#1A80E5] text-white hover:bg-[#1A80E5] transition duration-200">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 18a8 8 0 100-16 8 8 0 000 16zm6.293-6.293l4.243 4.243"/>
                      </svg>
                  </button>
              </div>
          </form>
      </div>
  </div>
    <!--filtros, aun no hechos solo visual-->
      <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: "Work Sans", "Noto Sans", sans-serif;'>
        <div class="layout-container flex h-full grow flex-col">
          <div class="gap-1 px-6 flex flex-1 justify-center py-5">
            <div class="layout-content-container flex flex-col w-80">
              <h3 class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Filters</h3>

              <div class="@container">
                <div class="relative flex w-full flex-col items-start justify-between gap-3 p-4 @[480px]:flex-row">
                  <p class="text-[#111418] text-base font-medium leading-normal w-full shrink-[3]">Precio</p>
                  <div class="flex h-[38px] w-full pt-1.5">
                    <div class="flex h-1 w-full rounded-sm bg-[#dbdfe6] pl-[60%] pr-[15%]">
                      <div class="relative">
                        <div class="absolute -left-3 -top-1.5 flex flex-col items-center gap-1">
                          <div class="size-4 rounded-full bg-[#111418]"></div>
                          <p class="text-[#111418] text-sm font-normal leading-normal">$0</p>
                        </div>
                      </div>
                      <div class="h-1 flex-1 rounded-sm bg-[#111418]"></div>
                      <div class="relative">
                        <div class="absolute -left-3 -top-1.5 flex flex-col items-center gap-1">
                          <div class="size-4 rounded-full bg-[#111418]"></div>
                          <p class="text-[#111418] text-sm font-normal leading-normal">$1000+</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <!--Categorias aun no fucniona-->
            <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
              <div class="flex flex-wrap justify-between gap-3 p-4">
                <p class="text-[#111418] tracking-light text-[32px] font-bold leading-tight min-w-72">Renta Herramientas en Ciudad Juarez</p>
              </div>
              <div class="pb-3">
                <div class="flex border-b border-[#dbdfe6] px-4 gap-8">
                  <a class="flex flex-col items-center justify-center border-b-[3px] border-b-[#111418] text-[#111418] pb-[13px] pt-4" href="#">
                    <p class="text-[#111418] text-sm font-bold leading-normal tracking-[0.015em]">All</p>
                  </a>
                  <a class="flex flex-col items-center justify-center border-b-[3px] border-b-transparent text-[#60708a] pb-[13px] pt-4" href="#">
                    <p class="text-[#60708a] text-sm font-bold leading-normal tracking-[0.015em]">Herramientas de poder</p>
                  </a>
                  <a class="flex flex-col items-center justify-center border-b-[3px] border-b-transparent text-[#60708a] pb-[13px] pt-4" href="#">
                    <p class="text-[#60708a] text-sm font-bold leading-normal tracking-[0.015em]">Herramientas de mano</p>
                  </a>
                  <a class="flex flex-col items-center justify-center border-b-[3px] border-b-transparent text-[#60708a] pb-[13px] pt-4" href="#">
                    <p class="text-[#60708a] text-sm font-bold leading-normal tracking-[0.015em]">Herramientas de jardineria</p>
                  </a>
                </div>
              </div>
                <!--mostrar las herramientas fucnional-->
              <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
                {% for tool in tools %}
                <div class="flex flex-col gap-3 pb-3 border-2 border-[#F7FAFA] hover:shadow-lg transition-shadow duration-200 rounded-lg p-4 group">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                    style="background-image: url('{% if tool.imagenes %}{{ tool.imagenes.url }}{% else %}path/to/default/image.jpg{% endif %}');"
                  ></div>
                  <div>
                    <p class="text-[#121417] text-base font-bold leading-normal group-hover:text-[#1A80E5]">{{ tool.nombre }}</p>
                    <p class="text-[#121417] text-base font-medium leading-normal">${{ tool.costo_dia }}/day</p>
                    <p class="text-[#637887] text-sm font-normal leading-normal">{{ tool.descripcion|slice:":100" }}{% if tool.descripcion|length > 100 %}...{% endif %}</p>
                    <p class="text-[#121417] text-sm font-bold leading-normal">{{ tool.arrendador }}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
{% endblock %}
