{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<div class="h-screen flex items-center justify-center bg-gray-100">
    <div class="w-full max-w-md bg-white/80 backdrop-blur-lg rounded-lg shadow-lg p-8 relative">
        <!-- Enlace para regresar arriba dentro del cuadro -->
        <a href="{% url 'landing' %}" class="flex items-center text-black pb-4">
            <svg class="mr-2" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.854 4.146a.5.5 0 0 1 0 .708L7.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0z"/>
            </svg>
            Regresar
        </a>
        <!-- Título del login -->
        <h1 class="text-4xl font-bold text-center text-[#121417] mb-6">Bienvenidos a Rent Fast</h1>

        <!-- Formulario de inicio de sesión -->
        <form method="post" class="space-y-6">
            {% csrf_token %}
            <!-- Campos del formulario usando crispy -->
            {{ form|crispy }}

            <!-- Botón de inicio de sesión -->
            <div class="flex items-center justify-center mt-4">
                <button class="w-full bg-[#1A80E5] hover:bg-blue-600 text-white font-bold py-3 rounded-full transition duration-300 ease-in-out focus:outline-none focus:ring-4 focus:ring-[#1A80E5]/50 text-lg" type="submit">
                    Iniciar Sesión
                </button>
            </div>

            <!-- Texto de registro y olvido de contraseña -->
            <div class="text-center mt-4">
                <p class="text-sm text-[#637887]">¿No tienes cuenta? 
                    <a href="{% url 'register' %}" class="text-[#1A80E5] font-semibold hover:underline">Regístrate</a>
                </p>
                <p class="text-sm text-[#1A80E5] mt-3">
                    <a href="#" class="hover:underline">¿Olvidaste tu contraseña?</a>
                </p>
            </div>

            <!-- Línea divisora -->
            <div class="relative mt-6 mb-6">
                <div class="absolute inset-0 flex items-center">
                    <div class="w-full border-t border-gray-300"></div>
                </div>
                <div class="relative flex justify-center text-sm">
                    <span class="bg-white px-2 text-[#121417] font-semibold"></span>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
