{% extends "base.html" %}
{% load socialaccount %}

{% load tailwind_filters %}
{% block content %}

<div class="bg-[#F7FAFA] h-screen flex items-center justify-center">
    <div class="w-full max-w-md bg-[#F7FAFA] ">
      <h1 class="text-4xl font-bold text-center text-[#121417] mb-8">Bienvenidos a Rent Fast</h1>
      <form>
        <div class="mb-6">
          <label for="email" class="block text-[#121417] text-lg font-medium mb-2">Correo</label>
          <input type="email" id="email" name="email" placeholder="Correo" class="appearance-none border border-gray-300 w-full py-3 px-4 text-[#0D171C bg-gray-50 rounded-lg focus:outline-none focus:bg-white focus:ring-2 focus:ring-[#1A80E5]" required>
        </div>
        <div class="mb-6">
          <label for="password" class="block text-[#121417] text-lg font-medium mb-2">Contraseña</label>
          <input type="password" id="password" name="password" placeholder="Contraseña" class="appearance-none border border-gray-300 w-full py-3 px-4 text-[#0D171C bg-gray-50 rounded-lg focus:outline-none focus:bg-white focus:ring-2 focus:ring-[#1A80E5]" required>
          <p class="text-left text-sm text-[#1A80E5] mt-2"><a href="#">¿Olvidaste tu contraseña?</a></p>
        </div>
        <div class="flex items-center justify-center">
          <button class="bg-[#1A80E5] hover:bg-blue-600 text-[#0D171C] font-bold py-3 px-6 rounded-full focus:outline-none focus:ring-4 focus:ring-[#1A80E5]/50 text-lg" type="submit">
            Iniciar Sesión
          </button>
        </div>
        <div class="mb-6">
          <p class="text-left text-sm text-[#637887] mt-2">¿No tienes cuenta?</p>
        </div>
        <div class="flex items-center justify-center mb-4">
          <button class="bg-[#E8EDF2] hover:bg-[#cfd6dc] text-[#0D171C] font-bold py-3 px-6 rounded-full focus:outline-none focus:ring-4 focus:ring-[#1A80E5]/50 text-lg" type="">
            Regístrate
          </button>
        </div>

        <!-- Botones de registro con Google y Facebook -->
        <div class="text-center mb-4">
          <p class="text-[#121417] text-lg font-semibold">o</p>
        </div>
        <div class="flex items-center justify-center gap-4">
          <a href="{% provider_login_url 'google' %}" class="bg-[#4285F4] hover:bg-blue-700 text-[#0D171C] font-bold py-3 px-6 rounded-full focus:outline-none focus:ring-4 focus:ring-[#4285F4]/50 text-lg flex items-center">
            <svg class="w-4 h-4 mr-2" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512">
              <path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path>
            </svg>
            Google
          </a>
          
          <a href="#" class="bg-[#1877F2] hover:bg-[#3b5998] text-[#0D171C] font-bold py-3 px-6 rounded-full focus:outline-none focus:ring-4 focus:ring-[#1877F2]/50 text-lg">
            Facebook
          </a>
        </div>
      </form>
    </div>
  </div>

{% endblock content %}


