{% extends "base.html" %}
{% block content %}
<div class="bg-slate-50 flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
        <h2 class="text-2xl font-bold mb-6 text-center">Verificación de Identidad</h2>

        <!-- Campo para capturar la imagen -->
        <input type="file" id="ine_image" accept="image/*" capture="camera" required class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50">
        
        <!-- Botón para enviar la imagen -->
        <button onclick="sendImage()" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600 focus:outline-none mt-4">
            Enviar para Verificación
        </button>
    </div>
</div>

<script>
    const tempId = "{{ temp_id }}";
    const protocol = window.location.protocol === "https:" ? "wss" : "ws";
    const socket = new WebSocket(`${protocol}://${window.location.host}/ws/verify_identity/${tempId}/`);

    function sendImage() {
        const ineImageInput = document.getElementById("ine_image").files[0];
        const reader = new FileReader();

        reader.onloadend = function() {
            const imageData = reader.result.split(",")[1];
            socket.send(JSON.stringify({ 'image_data': imageData }));
            alert("Imagen enviada correctamente.");
        };

        if (ineImageInput) {
            reader.readAsDataURL(ineImageInput);
        } else {
            alert("Por favor, selecciona una imagen.");
        }
    }
</script>

{% endblock %}

