{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}
<div class="flex min-h-screen justify-center items-center bg-slate-50">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
        <h2 class="text-2xl font-bold mb-6 text-center">Registro Personal</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ wizard.management_form }}
            
            <div class="mb-4">
                <label for="nombre" class="block text-gray-700 font-medium">Nombre</label>
                {{ wizard.form.nombre|as_crispy_field }}
            </div>

            <div class="mb-4">
                <label for="apellidos" class="block text-gray-700 font-medium">Apellidos</label>
                {{ wizard.form.apellidos|as_crispy_field }}
            </div>

            <div class="mb-4">
                <label for="telefono" class="block text-gray-700 font-medium">Teléfono</label>
                {{ wizard.form.telefono|as_crispy_field }}
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 font-medium">¿Qué serás?</label>
                {{ wizard.form.role|as_crispy_field }}
            </div>

            <div class="mb-6">
                <label class="block text-gray-700 font-medium">Sube tu INE Mexicano</label>
                {{ wizard.form.ine_image|as_crispy_field }}
            </div>

            <button class="bg-blue-500 text-white py-2 rounded w-full hover:bg-blue-600 focus:outline-none" type="submit">
                Continuar
            </button>
        </form>
    </div>
</div>
{% endblock %}
