{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}
<div class="flex min-h-screen justify-center items-center bg-slate-50">
    <!-- Contenedor del formulario con estilo de cuadro -->
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
        
        <!-- Enlace de "Regresar" con ícono de flecha SVG -->
        <a href="{% url 'login' %}" class="flex items-center text-black pb-4">
            <svg class="mr-2" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.854 4.146a.5.5 0 0 1 0 .708L7.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0z"/>
            </svg>
            Regresar
        </a>

        <!-- Título del formulario -->
        <h2 class="text-2xl font-bold mb-6 text-center">Crea tu cuenta</h2>

        <!-- Inicio del formulario de creación de cuenta -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ wizard.management_form }}

            <!-- Campo de nombre de usuario -->
            <div class="mb-4">
                <label class="block text-gray-700 font-medium">Nombre de Usuario</label>
                {{ wizard.form.username|as_crispy_field }}
            </div>

            <!-- Campo de correo electrónico -->
            <div class="mb-4">
                <label class="block text-gray-700 font-medium">Correo Electrónico</label>
                {{ wizard.form.email|as_crispy_field }}
            </div>

            <!-- Campo de contraseña -->
            <div class="mb-4">
                <label class="block text-gray-700 font-medium">Contraseña</label>
                {{ wizard.form.password1|as_crispy_field }}
            </div>

            <!-- Campo de confirmación de contraseña -->
            <div class="mb-4">
                <label class="block text-gray-700 font-medium">Confirmar Contraseña</label>
                {{ wizard.form.password2|as_crispy_field }}
            </div>

            <!-- Botón de envío del formulario -->
            <button class="bg-blue-500 text-white py-2 rounded w-full hover:bg-blue-600 focus:outline-none" type="submit">
                Continuar
            </button>
        </form>
    </div>
</div>
{% endblock %}
