{% extends "base.html" %}

{% load tailwind_filters %}
{% block content %}

<div class="bg-gray-200 p-5">

    <div class="max-w-3xl mx-auto bg-white p-8 rounded-lg shadow-lg border border-gray-300">
        <h1 class="text-center text-2xl font-bold text-gray-800 mb-6">Términos y Condiciones</h1>
        <div class="terms-box h-96 border border-black p-5 overflow-y-scroll bg-gray-100 mb-8 rounded-lg shadow-inner">
            <h2 class="text-lg font-semibold mb-4">Términos y condiciones:</h2>
            <p class="mb-4">1. Registro y Uso de la Plataforma</p>
            <ul class="list-disc pl-5 mb-4">
                <li>1.1. El arrendador creará una cuenta en la plataforma y proporcionará información veraz y actualizada sobre sí mismo y sobre la herramienta de su propiedad a alquilar.</li>
                <li>1.2. El arrendador es responsable de garantizar que su cuenta se mantenga segura y confidencial, y asume toda responsabilidad por las actividades realizadas en su cuenta.</li>
                <li>1.3. La plataforma solo actúa como intermediaria entre el arrendador y el arrendatario, y no asume responsabilidad por el estado o la funcionalidad de las herramientas alquiladas.</li>
            </ul>
            <p class="mb-4">2. Condiciones de la Herramienta</p>
            <ul class="list-disc pl-5 mb-4">
                <li>2.1. El arrendador debe garantizar que la herramienta se encuentre en buenas condiciones de funcionamiento al momento de ser ofrecida para alquiler.</li>
                <li>2.2. En caso de que la herramienta no cuente con algún tipo de garantía, se asumirá que la herramienta no funcionaba en condiciones óptimas al momento de la entrega, y el arrendador será responsable de cualquier inconveniente derivado de dicha condición.</li>
                <li>2.3. El arrendador debe proporcionar detalles claros y completos sobre las especificaciones y estado actual de la herramienta. La falta de transparencia podrá resultar en la suspensión o cancelación de su cuenta.</li>
            </ul>
            <p class="mb-4">3. Garantía</p>
            <ul class="list-disc pl-5 mb-4">
                <li>3.1. En caso de mal funcionamiento o defectos evidentes al momento de la entrega, el arrendatario podrá cancelar el alquiler y el arrendador deberá aceptar la devolución sin penalización alguna.</li>
            </ul>
            <p class="mb-4">4. Responsabilidad del Arrendador</p>
            <ul class="list-disc pl-5 mb-4">
                <li>4.1. El arrendador será responsable de cualquier daño o mal funcionamiento de la herramienta que no haya sido previamente comunicado al arrendatario.</li>
                <li>4.2. Si la herramienta resulta dañada durante el periodo de alquiler debido a un uso normal y adecuado, el arrendador deberá cubrir los costos de reparación o proporcionar una herramienta de reemplazo de características similares.</li>
            </ul>
            <p class="mb-4">5. Entrega y Recolección de la Herramienta</p>
            <ul class="list-disc pl-5 mb-4">
                <li>5.1. El arrendador es responsable de coordinar la entrega y recolección de la herramienta con el arrendatario, de acuerdo con los términos establecidos en la plataforma. La forma en que se rentará la herramienta será a través de una agenda, la cual indicará la disponibilidad de la herramienta. El arrendatario deberá escoger una fecha mediante la herramienta de agenda, donde proporcionará el día de entrega y de devolución.</li>
                <li>5.2. Cualquier demora o falta de entrega por parte del arrendador podrá resultar en la cancelación del alquiler y posibles sanciones en la plataforma.</li>
            </ul>
            <p class="mb-4">6. Cancelaciones y Devoluciones</p>
            <ul class="list-disc pl-5 mb-4">
                <li>6.1. El arrendador podrá cancelar una reserva antes de la entrega de la herramienta sin penalización, siempre y cuando se notifique con la suficiente antelación al arrendatario.</li>
                <li>6.2. El arrendatario tiene el derecho de cancelar el alquiler si la herramienta no funciona adecuadamente o no corresponde a la descripción proporcionada por el arrendador.</li>
            </ul>
            <p class="mb-4">7. Resolución de Disputas</p>
            <ul class="list-disc pl-5 mb-4">
                <li>7.1. En caso de conflicto entre el arrendador y el arrendatario sobre el estado o funcionamiento de la herramienta, ambas partes podrán solicitar la mediación de la plataforma.</li>
                <li>7.2. La plataforma no es responsable de los daños causados por el mal uso de la herramienta, ni por la calidad o estado de la misma.</li>
            </ul>
            <p class="mb-4">8. Modificaciones de los Términos</p>
            <ul class="list-disc pl-5 mb-4">
                <li>8.1. La plataforma se reserva el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones serán notificadas a los usuarios registrados y entrarán en vigor inmediatamente.</li>
            </ul>
            <p class="mb-4">9. Aceptación de los Términos</p>
            <ul class="list-disc pl-5">
                <li>9.1. Al ofrecer su herramienta para alquiler en la plataforma, el arrendador confirma que ha leído, comprendido y acepta estos términos y condiciones en su totalidad.</li>
            </ul>
        </div>
        <button onclick="acceptTerms()" class="w-full p-4 bg-blue-500 text-white rounded-lg font-bold hover:bg-blue-600 transition">Aceptar</button>
    </div>
    
    <script>
        function acceptTerms() {
            alert("Has aceptado los términos y condiciones.");
        }
    </script>
    
    </div>

{% endblock content %}


