{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="flex min-h-screen justify-center items-center bg-slate-50">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
        <!-- Enlace de "Regresar" con ícono de flecha SVG -->
        <a href="{{ redireccion_url }}" class="flex items-center text-black pb-4">
            <svg class="mr-2" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.854 4.146a.5.5 0 0 1 0 .708L7.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0z"/>
            </svg>
            Regresar
        </a>

        <h2 class="text-2xl font-bold mb-6 text-center">Actualizar Datos</h2>


        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Formulario de Usuario -->
            {{ user_form|crispy }}

            <!-- Formulario de Información Personal -->
            {{ personal_form|crispy }}

            <!-- Formulario de Dirección -->
            <div class="hidden">
            {{ address_form|crispy }}
            </div>

            <!-- Botón para guardar los cambios -->
            <button type="submit" class="bg-blue-500 text-white py-2 rounded w-full hover:bg-blue-600 focus:outline-none">
                Guardar Cambios
            </button>
        </form>
    </div>
</div>
{% endblock %}
